.status-form {
    background-color: #e0f7fa40;
    padding: 13px;
    border-radius: 5px;
}

textarea {
    height: 136px;
}

.rule_tab {
    font-size: 1.15rem;
}

.btn-update {
    background-color: #1e88e5 !important;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}