<div class="container">
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary mb-4" (click)="goBack()">BACK</button>
    </div>
    <div *ngIf="currentRule !== undefined">

        <!-- Begin rule information -->
        <h4>Rule information</h4>
        <div class="form-group row mb-0">
            <label class="col-sm-2 col-form-label">Rule Name:</label>
            <label class="col-sm-10 col-form-label"> {{currentRule.name}}</label>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-2 col-form-label">Rule Type:</label>
            <label class="col-sm-10 col-form-label"> {{currentRule.type}}</label>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-2 col-form-label">Fee Type:</label>
            <label class="col-sm-10 col-form-label"> {{formatFeeType(currentRule.fee_type)}}</label>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-2 col-form-label">Description:</label>
            <label class="col-sm-10 col-form-label"> {{currentRule.description}}</label>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-2 col-form-label">Status:</label>
            <label class="col-sm-10 col-form-label rule-status"> {{getStatusFromActive(currentRule.active)}}</label>
        </div>

        <div class="form-group row mb-0">
            <label class="col-sm-2 col-form-label">User Create:</label>
            <label class="col-sm-10 col-form-label"> {{currentRule.userCreate}}</label>
        </div>
        <div class="form-group row mb-0">
            <div class="col-12">
                From: <span class="rule-date ml-3">{{formatDateTime(currentRule.from_date)}}</span>&nbsp;/&nbsp;To:
                <span class="rule-date ml-3">{{formatDateTime(currentRule.to_date)}}</span>
            </div>

        </div>

        <div class="form-group row">

        </div>
        <!-- end rule information  -->

        <!-- begin rule conditions -->
        <h4>Conditions</h4>
        <div class="form-group row">
            <ejs-querybuilder #querybuilder class="row" width="100%" [dataSource]="data" [rule]="importRules" *ngIf="tData" [showButtons]="showButtons" [columns]="filter" readonly="true" enablePersistence=true>

            </ejs-querybuilder>
        </div>
        <!-- end rule conditions -->

        <!-- begin rule actions -->
        <h4>Actions</h4>
        <div *ngIf="action['type']">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Action name: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{action['type']}}">
                </div>
            </div>
            <div class="form-group row" *ngFor="let i of action['key']">
                <label class="col-sm-2 col-form-label">{{translateActionName(i)}}:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{formatPrice(action['value'][i])}}">
                </div>
            </div>

        </div>


        <!-- end rule actions -->

    </div>
</div>