.rule-status {
    color: #0091ea;
}

button.e-removerule.e-rule-delete.e-css.e-btn.e-small.e-round.e-icon-btn.e-control.e-tooltip.e-lib {
    display: none !important;
}

button#e-dropdown-btn_1 {
    display: none !important;
}

.rule-date {
    background-color: #e0f7fa40;
    padding: 4px 10px;
    border-radius: 5px;
}