.title-text {
    color: #fff;
    text-decoration: none;
    font-size: 1.65rem;
}

.title-icon {
    text-align: center;
    background-color: #00b0ff;
    height: 65px;
}

.footer {
    height: 30px;
}

::ng-deep div#DataTables_Table_0_length>label {
    margin-top: 0.25rem !important;
}

a.dropdown-item {
    cursor: pointer;
}

ul.my-row {
    display: table;
    text-align: left;
}

ul.my-row>li {
    display: table-cell;
    padding-right: 20px;
}

.logo {
    background-size: 100% 100%;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 130px;
    height: 37.5px;
}

img.icon-user {
    max-width: 30px;
    margin: -7px 10px;
}

.padding-top {
    padding-top: 12vh !important;
}