.title-text {
    color: #fff;
    text-decoration: none;
    font-size: 1.65rem;
}

.title-icon {
    text-align: center;
    background-color: #00c853;
    height: 65px;
}

.footer {
    height: 30px;
}

