table#DataTables_Table_0 {
    width: 100% !important;
}

::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}

.btn-delete {
    background-color: #97b498;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.btn-update {
    background-color: #98ee99;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.btn-delete:hover, .btn-update:hover {
    opacity:0.6;
}

.status-active {
    color: #00c853;
}

.status-inactive {
    color: #aeea00;
}

.status-delete {
    color: #e04700;
}

.rule-name {
    color: rgb(0, 0, 0);
    text-decoration: none;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.rule-name:hover {
    opacity:0.6;
}

.filter-group {
    background-color: #e0f2f1;
}