table#DataTables_Table_0 {
    width: 100% !important;
}

::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}

.btn-delete {
    background-color: #e0f2f1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.btn-update {
    background-color: #b2ebf2;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.btn-delete:hover,
.btn-update:hover {
    opacity: 0.6;
}

.status-active {
    color: #0091ea;
}

.status-inactive {
    color: #e04700;
}

.status-delete {
    color: #e04700;
}

.rule-name {
    color: rgb(0, 0, 0);
    text-decoration: none;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.rule-name:hover {
    opacity: 0.6;
}

.filter-group {
    background-color: #e0f2f1;
}

::ng-deep div#DataTables_Table_0_length>label {
    margin-top: 0.25rem !important;
}


/* datepicker popup */

::ng-deep .form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

 ::ng-deep .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

 ::ng-deep .custom-day.focused {
    background-color: #e6e6e6;
}

 ::ng-deep .custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

 ::ng-deep .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}