<div class="container">
  
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" *ngIf="tData" class="row-border hover" style="width: 100%;">
      <thead>
        <tr>
          <th>Rule name</th>
          <th>Description</th>
          <th>Start</th>
          <th>End</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="rules?.length != 0">
        <tr *ngFor="let rule of rules" id="{{rule._id}}">
          <td>{{ rule.name }}</td>
          <td>{{ rule.description }}</td>
          <td>{{ rule.from }}</td>
          <td>{{ rule.to }}</td>
          <td *ngIf="rule.status==='ACTIVE'">
            <span class="status-active">{{ rule.status }}</span>
          </td>
          <td *ngIf="rule.status==='INACTIVE'">
            <span class="status-inactive">{{ rule.status }}</span>
          </td>
          
          
          <td>
              <a routerLink="/detail/{{rule._id}}" class="btn btn-update mr-1">Update</a>
              <button type="button" class="btn btn-delete" (click)="onDelete(rule._id)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="rules?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
      <tbody>
    </table>
  </div>

</div>