<form>
    <div class="imgcontainer">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" (change)="onChange($event)">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" (change)="onChange($event)">

        <button (click)="login()">Login</button>
    </div>
</form>