<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Column updated</th>
                <th scope="col">Update persion</th>
                <th scope="col">Time update</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of historyData">
            <tr class="accordion-toggle collapsed" id="accordion{{item.num}}" data-toggle="collapse" [attr.href]="getHref(item.num)">
                <td class="expand-button"></td>
                <td>{{item.column}}</td>
                <td>{{item.update_persion}}</td>
                <td>{{item.time_update}}</td>

            </tr>
            <tr class="hide-table-padding">
                <td></td>
                <td colspan="3">
                    <div id="collapseOne{{item.num}}" class="collapse in p-3">
                        <ul class="list-change" *ngIf="item.column==='rule infomations'">
                            <li *ngFor="let i of item.data">
                                {{i.column}}: {{formatDateTime(i.column,i.old_value)}}<span class="from-to"> >>
                                </span>{{formatDateTime(i.column,i.new_value)}}
                            </li>
                        </ul>
                        <ul class="list-change" *ngIf="item.column==='actions'">
                            <div *ngFor="let i of item.data" [innerHTML]="hanleActionColumnV2(i)">

                            </div>
                        </ul>
                        <ul class="list-change" *ngIf="item.column==='conditions'">
                            <div *ngFor="let i of item.data" [innerHTML]="handleConditionColumn(i.old_value, i.new_value)">

                            </div>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>